.filter-box {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin-bottom: var(--medium-mb);
}

.filter-input {
  padding: 0.7rem;
  border-radius: var(--input-border-radius);
  border: 1px solid var(--first-color);
  transition: border 250ms linear;
}

.filter-input:focus {
  border: 2px solid var(--first-color);
  outline: none;
}
