.container {
  display: flex;
  flex-direction: column;
  row-gap: var(--medium-mb);
  max-width: 95%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .top-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 5rem;
  row-gap: 5rem;
  }
}


.main-title {
  text-align: center;
  font-size: 4.5rem;
  font-weight: 500;
}
